* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.container {
  width: $contwidth;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  color: $colorT2;
}

h2,h3 {
  color: $colorT3;
}

.textwhite {
  color: #fff;
}

.top {
  position: fixed;
  bottom: 15px;
  right: 10px;
  background-color: rgba(0,0,0,0.5);
  padding: 4px;
  @include cont-base;
  cursor: pointer;
  & a {
    color: $colorT1;

  }
  & p {
    color: $colorT1;
    font-size: 10px;;
  }
}

.visibile {
  visibility: visible;
}
