* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: $contwidth;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  color: $colorT2;
}

h2,h3 {
  color: $colorT3;
}

.textwhite {
  color: #fff;
}
