footer {
  width: 100%;
  padding: 40px 0 80px;
  background-color: $colSfondo1;
  @include cont-base;

  & .container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;

    & .logo {
      width: 150px;

      & img {
        width: 50%;
      }

      & p {
        font-size: $fontExtraMini;
      }
    }

    & ul {
      width: calc((100% / 3) - 150px);
      list-style: none;

      & li {
        padding: 5px;
        font-size: $fontExtraMini;
        font-weight: bold;

        h3 {
          color: $colorT2;
          font-size: $fontmini;
        }

        a {
         color: $colorT2;
         text-decoration: none;
       }
      }

    }
  }
}
