.main-course {
  width: 100%;
  @include cont-base;
  padding: 80px 0;

  & .container {
    @include cont-base;

    & h2 {
      font-weight: 300;
    }

    & p {
      text-align: center;
      width: 33%;
      font-size: $fontmini;
      line-height: 20px;
    }

    & button {
      @include btnPrimary;
      padding: 10px 30px;
      font-weight: bold;
    }
  }

  & .cont-course {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    & .course {
      width: calc((100% / 3) - 20px);
      background-size: cover;
      background-position: center;
      padding: 10px;
      border-radius: 10px;
      position: relative;
      height: 180px;
      overflow: hidden;
      margin: 10px;

      &::after {
        clear: both;
        display: block;
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0,0,0,0.5);
        background: radial-gradient(#ff00, black);
        opacity: 0.7;
      }

      & .info-corso {
        position: relative;
        height: 100%;
        width: 80%;
        z-index: 3;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        & h2 {
          color: $colorT1;
          font-size: $fontmed;
          font-weight: 400;
          line-height: 20px;
          border-left: 3px solid $colorB1;
          padding-left: 5px;

        }
        & p {
          color: $colorT1;
          font-size: 10px;
          font-weight: 500;
          text-align: left;
          padding-left: 10px;
          width: 80%;
          margin-top: 5px;
        }
      }
    }
  }
}
