section.main-top {
  width: 100%;
  padding: 60px 0;
  display: flex;
  justify-content: center;

  & .container {
    @include cont-base;
    text-align: center;

    & h2 {
      font-size: $fontsemig;
      font-weight: 300;
    }

    & p {
      font-size: $fontmini;
      font-weight: 300;
      width: 50%;
      line-height: 20px;
    }

    & .cont-features{
      width: 100%;
      display: flex;

      & .features {
        @include cont-base;
        width: calc(100% / 4);

        & h3 {
          font-size: $fontmini;
        }

        p {
          width: 100%;
          font-size: $fontExtraMini;
        }
      }
    }

    button {
      @include btnPrimary;
      padding: 10px 30px;
      font-weight: bold;

      & i {
        font-size: 10px;;
      }
    }
  }
}
