@media screen and (max-width: $breakpoint-smartphone) {

  footer {
    width: 100%;
    background-color: $colSfondo1;
    display: flex;
    flex-direction: column;

    & .container {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      & .logo {
        width: 200px;
        margin-bottom: 30px;

        & img {
          width: 100%;
        }

        & p {
          font-size: $fontmini;
        }
      }

      & ul {
        width: 100%;
        list-style: none;
        text-align: center;

        & li {
          padding: 5px;
          font-size: $fontExtraMini;
          font-weight: bold;

          h3 {
            margin-top: 20px;
            color: $colorT2;
            font-size: $fontmini;
          }

          a {
           color: $colorT2;
           text-decoration: none;
         }
        }

      }
    }
  }


}
