@media screen and (max-width: $breakpoint-tablet) {

  section.main-blue {
    height: auto;

    & .container {
      & p {
        width: 100%;
      }

      & .cont-phone {
        flex-direction: column;
        & .info {
          width: 100%;
          text-align: center;
          align-items: center;
        }

        & img {
          width: 100%;
          margin-right: 0px;
          margin-top: 20px;
        }
      }
    }
  }
}

@media screen and (min-width:$breakpoint-tablet) and (max-width: $breakpoint-desktop) {

  section.main-blue {
    height: auto;

    & .container {
      & img {
        width: 50%;
      }
    }

  }
}
