// larghezze
$contwidth: 70%;

// altezze
// color button
$colorB1: #fdaf2a;
$colorB2: #fff;

// color text
$colorT1: #fff;
$colorT2: #6c738c;
$colorT3: #515262;
// color sfondo
$colSfondo1: #313C59;
// font
$fontbig: 44px;
$fontgra: 36px;
$fontsemig: 26px;
$fontmed: 22px;
$fontsmall: 18px;
$fontmini: 14px;
$fontExtraMini: 12px;

@for $i from 1 through 5 {
  .mt-#{$i} {
    margin-top: 15px * $i;
  }
}

@for $i from 1 through 5 {
  .mb-#{$i} {
    margin-bottom: 15px * $i;
  }
}

@for $i from 1 through 5 {
  .mtb-#{$i} {
    margin-top: 15px * $i;
    margin-bottom: 15px * $i;
  }
}

@mixin cont-base{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
